.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    padding: 80px;
    margin-bottom: 50px;
}

.list__item {
    width: 30%;
    margin-bottom: 20px;
    color: $grey;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.list__img {
    width: 150px;
}

.list__title {
    font-size: 18px;
    color: $black;
    margin-bottom: 10px;
    font-weight: 700;
}

.list__desc {
    font-size: 14px;
    margin-bottom: 10px;
}

.list__single-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
