// ----------  button
// ------------------------------------------------------------------------------

button,
input[type='button'],
input[type='submit'] {
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 0;
}

a,
button {
	appearance: none;
	outline: none;

	&:focus {
		outline: none;
	}
}

.btn {
	background-color: $white;
	padding: 10px 20px;
	font-family: $font-default;
	color: $black;
	border-radius: 10px;
	transition: 0.3s ease;

	&:hover {
		background-color: $grey;
		color: $white;
	}

}
